body {
  font-family: sans-serif;
  padding: 20px;
}

.clicked {
  color: red;
}

#color-box {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  margin-top: 10px;
}

.card {
    height: 100px;
    width: 100px;
    display: inline-flex;         
    justify-content: center;      
    align-items: center;           
    padding: 10px;
    box-sizing: border-box;       
    text-align: center;
    margin: 5px;
  }