* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #a5e494;
    color: #4d125d;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    border: 3px solid #4d125d;
}

.float-left {
    float: left;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #4d125d;
}

.menu {
    overflow: hidden;
    background-color: #ff9b37;
    padding: 20px;
    width: 90%;
    height: 100px;
    margin: 20px auto;
    border: 3px solid #4d125d;
}

.menu-button {
    padding: 16px;
    background-color: #4d125d;
    border-radius: 10px;
    display: inline-block;
    color: white;
    margin-right: 20px; 
    width: 160px; 
    text-align: center;
}

.menu-button:hover {
    background-color: #e8c4f0;
}

.aside-one {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: 3px solid #4d125d;
    display: block;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
}

.mid-section {
    width: 90%;
    margin: 20px auto;
}

.mid-section::after {
    content: "";
    display: block;
    clear: both;
}

.content-box {
    width: 90%;
    height: 200px;
    background-color: #e8c4f0;
    border: 3px solid #4d125d;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    padding: 15px 15px 15px 40px;
}

.content-box:last-child {
    margin-bottom: 0;
}

.aside-two {
    width: 100%;
    height: 380px;
    background-color: #e78585;
    border: 3px solid #4d125d;
    padding: 10px;
    color: #000000;
}

.course-list {
    padding: 10px;
    margin: 10px 0;
    list-style-position: inside;
}

.course-item {
    background-color: #ca4949;
    padding: 0 5px;
    margin: 5px 0;
    color: #ffffff;
}

.course-item span {
    background-color: #850f0f;
    color: #efefef;
    padding: 8px 5px;
    display: inline-block;
}

.aside-three {
    width: 20%;
    height: 500px;
    background-color: #bdd2e9;
    border: 3px solid #4d125d;
    padding: 10px;
    color: #000000;
}

.edu-div {
    background-color: #748bda;
    overflow: hidden;
    padding-left: 10px; 
}

.edu-div:nth-child(even) {
      background-color: #526fd8;
  }

.edu-list {
    padding: 10px;
    margin: 10px 0;
    list-style-position: inside;
}

.edu-item {
    margin: 5px 0;
    color: #000000;
    padding: 8px 10px;
    float: left;
}

.unchecked-box {
    height: 15px;
    width: 15px; 
    float: left;
    margin-top: 15px;
}

.nwp-front {
    height: 120px;
    width: 120px;
    position: fixed;
    bottom: 220px;
    right: 20px;
    border-radius: 50%;
    border: 3px solid #4d125d;
    object-fit: cover;
}

.strikethrough {
    text-decoration: line-through;
}

.checked {
    background-color: rgb(189, 182, 182);
}

.main-content {
    width: 56%;
    height: 500px;
    background-color: #d394e4;
    border: 3px solid #4d125d;
    margin-right: 20px;
    padding: 20px;
}

.footer {
    width: 90%;
    height: 200px;
    background-color: #f1ea84;
    border: 3px solid #4d125d;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-div {
    float:left;
    height: 100px;
    width: 200px; 
}

.footer-div a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

.footer-div a:hover {
    text-decoration: underline;
}

.footer-link {
    float: left; 
    margin-top: 80px; 
}

.footer-image {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.facebook-icon {
    background-image: url('public/facebook-grey.png');
}

.facebook-icon:hover {
    background-image: url('public/facebook.png');
}

.instagram-icon {
    background-image: url('public/instagram-grey.png');
}

.instagram-icon:hover {
    background-image: url('public/instagram.png');
}

.youtube-icon {
    background-image: url('public/youtube-grey.png');
}

.youtube-icon:hover {
    background-image: url('public/youtube.png');
}