* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    overflow: hidden;
    background-color: #d394e4;
    color: #4d125d;
    padding: 20px;
    width: 90%;
    margin: 20px auto;
    border: 3px solid #4d125d;
}

.float-left {
    float: left;
}

.profile-pic {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #4d125d;
}

.menu {
    overflow: hidden;
    background-color: #d394e4;
    padding: 20px;
    width: 90%;
    height: 100px;
    margin: 20px auto;
    border: 3px solid #4d125d;
}

.menu-button {
    padding: 16px;
    background-color: #4d125d;
    border-radius: 10px;
    display: inline-block;
    color: white;
    margin-right: 20px; 
    width: 160px; 
    text-align: center;
}

.menu-button:hover {
    background-color: #e8c4f0;
}

.aside-one {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border: 3px solid #4d125d;
    display: block;
    margin-bottom: 20px;
}

.mid-section {
    width: 90%;
    overflow: hidden;
    margin: 20px auto;
}

.content-box {
    width: 90%;
    height: 200px;
    background-color: #e8c4f0;
    border: 3px solid #4d125d;
    border-radius: 10px;
    margin: 0 auto 20px auto;
    padding: 15px 15px 15px 40px;
}

.content-box:last-child {
    margin-bottom: 0;
}

.aside-two {
    width: 100%;
    height: 380px;
    background-color: #d394e4;
    border: 3px solid #4d125d;
    padding: 10px;
    color: #4d125d;
}

.course-list {
    padding: 10px;
    margin: 10px 0;
    list-style-position: inside;
}

.course-item {
    background-color: #803791;
    padding: 0 5px;
    margin: 5px 0;
    color: #ffffff;
}

.course-item span {
    background-color: #4d125d;
    color: #efefef;
    padding: 8px 5px;
    display: inline-block;
}

.aside-three {
    width: 20%;
    height: 500px;
    background-color: #d394e4;
    border: 3px solid #4d125d;
}

.main-content {
    width: 56%;
    height: 500px;
    background-color: #d394e4;
    border: 3px solid #4d125d;
    margin-right: 20px;
    padding: 20px;
}

.footer {
    width: 90%;
    height: 150px;
    background-color: #d394e4;
    border: 3px solid #4d125d;
    margin: 20px auto;
}