article:first-of-type {
    background-color: rgb(66, 37, 2);
    color: rgb(245, 201, 147);
    font-style: italic;
    padding: 10px; 
    margin: 10px; 
}

article:first-of-type > div {
    background-color: rgb(245, 201, 147);
    color: rgb(66, 37, 2);
    font-style: normal;
    border: 2px solid transparent;
    margin: 10px; 
}

article:first-of-type:hover > div {
    opacity: 0.5;
}

article:first-of-type > div:hover {
    border: 2px solid red;
    opacity: 1; 
}

article:last-of-type {
    background-color: rgb(245, 201, 147);
    color: rgb(66, 37, 2);
    font-style: italic;
    padding: 10px; 
    margin: 10px; 
}

article:last-of-type > div {
    background-color: rgb(66, 37, 2);
    color: rgb(245, 201, 147);
    font-style: normal;
    border: 2px solid transparent;
    margin: 10px; 
}

article:first-of-type .task1 {
    position: relative;
    padding: 20px;
    margin-top: 40px;
}

article:first-of-type .task1 > div {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 20px;
    background-color: orange;
    color: rgb(66, 37, 2);
    padding: 10px 15px;
    border-radius: 15px;
    white-space: nowrap;
}

article:first-of-type .task1 > div::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 30px;
    border-width: 10px;
    border-style: solid;
    border-color: orange transparent transparent transparent;
}

article:first-of-type .task1:hover > div {
    display: block;
}

article:last-of-type .task1 blockquote {
    font-style: italic;
}

article:last-of-type:hover > div {
    opacity: 0.5;
}

article:last-of-type > div:hover {
    border: 2px dotted pink;
    opacity: 1; 
}